@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0px;
  padding:0px;
}
html{
  @apply w-full h-full ;
}
body{
  @apply w-full h-full bg-zn-white sm:pt-[65px] pt-[52px];

}
.nightbg{
  @apply bg-zn-black;
}
#root{
  @apply w-full h-full;
}
a{
  text-decoration: none;
  padding: 0;
  margin:0;
}
.code-input{
  -moz-appearance: textfield;

}
.code-input::-webkit-inner-spin-button,
.code-input::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari */
    margin: 0;
}

.menu-container{
 max-height: 0px;
  transition: max-height .4s ease-in;
}
.menu-container-show{
  max-height: 500px;
}

.header-menu{
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in;
}
.header-menu-show{
  visibility: visible;
  opacity: 1;
}
.imgSlider::-webkit-scrollbar{
display: none;
}
.clicked{
  border-bottom: 3px solid white;
  padding-bottom: 4px;
  

}
.topMenu-round{
  
}

@layer utilities{
  *{
    font-family: Lato;
  }
.zn-h-1{
  @apply font-Lato 2xl:text-[94px] lg:text-[58px] md:text-[44px] text-[24px] font-bold 2xl:leading-[115px] lg:leading-[74px] md:leading-[50px] leading-[28px];
}
.zn-h-2{
  @apply font-Lato 2xl:text-[64px] lg:text-[35px] md:text-[26px] text-[18px] font-normal 2xl:leading-[76px] lg:leading-[50px] md:leading-[38px] leading-[20px];

}
.zn-h-3{
  @apply font-Lato 2xl:text-[48px] lg:text-[30px] md:text-[24px] text-[20px] font-normal  2xl:leading-[57px] lg:leading-[38px] md:leading-[28px] leading-[18px];

}
.zn-h-1-bold{
  @apply font-Lato 2xl:text-[94px] lg:text-[58px] md:text-[44px] text-[24px] font-bold 2xl:leading-[115px] lg:leading-[74px] md:leading-[50px] leading-[28px];

}

.zn-h-2-bold{
  @apply font-Lato 2xl:text-[64px] lg:text-[35px] md:text-[26px] text-[18px] font-bold 2xl:leading-[76px] lg:leading-[50px] md:leading-[38px] leading-[20px];

}
.zn-h-3-bold{
  @apply font-Lato 2xl:text-[48px] lg:text-[30px] md:text-[24px] text-[22px] font-bold 2xl:leading-[57px] lg:leading-[38px] md:leading-[28px] leading-[25px];
  ;

}
.zn-h-4-semiBold{
  @apply font-Lato 2xl:text-[40px] lg:text-[24px] md:text-[18px] text-[12px] font-semibold align-middle 2xl:leading-[48px] lg:leading-[30px] md:leading-[20px] leading-[12px];
}


.zn-body-1{
 @apply font-Inter  2xl:text-[28px] lg:text-[20px] md:text-[18px] text-[16px] font-medium 2xl:leading-[33px] lg:leading-[22px] md:leading-[20px] leading-[18px] ;
}
.zn-body-2{
  @apply font-Inter 2xl:text-[20px] lg:text-[14px] text-[11px]  font-medium 2xl:leading-[24px] lg:leading-[18px] md:leading-[15px] leading-[12px];
   
 }
 .zn-body-3{
  @apply font-Inter 2xl:text-[15px] lg:text-[10px] text-[10px] font-medium 2xl:leading-[18px] lg:leading-[10px] md:leading-[15px] leading-[10px];
   
 }
.zn-body-0-bold{
  @apply font-Inter 2xl:text-[36px] lg:text-[20px] md:text-[20px] text-[20px] font-bold 2xl:leading-[43px] lg:leading-[26px] md:leading-[24px] leading-[20px] align-middle;
   
 }
.zn-body-1-bold{
 @apply 2xl:text-[28px] lg:text-[18px] text-[18px] font-bold 2xl:leading-[33px] lg:leading-[22px] md:leading-[22px] leading-[20px];
  
}

.zn-body-2-bold{
 @apply font-Inter 2xl:text-[20px] lg:text-[14px] text-[11px] font-bold 2xl:leading-[24px] lg:leading-[18px] md:leading-[15px] leading-[10px];
  
}

.zn-body-3-bold{
  @apply font-Inter 2xl:text-[15px] lg:text-[8px] text-[6px] font-bold 2xl:leading-[18px] lg:leading-[10px] md:leading-[7px] leading-[4px];
   
 }
 .zn-input-field{
  @apply rounded-md h-7 py-0 w-full pl-8 2xl:pl-10 bg-zn-gray-box border border-zn-black;
 }
 .zn-input-field::placeholder{
  @apply zn-body-2  ;

 }
 .zn-button{
  @apply md:py-2 py-3 lg:w-[160px] md:w-[150px] sm:w-[140px] w-[120px] rounded-md border border-zn-black bg-zn-green zn-body-2-bold my-4;
 }
 .modle,.overly{
  @apply fixed top-0 left-0 right-0 bottom-0 z-30;
 }
 .modle{
  @apply flex flex-row justify-center items-center;
 }
 .overly{
  @apply bg-zn-white opacity-50 ;
 }
 .modle-content{
  @apply bg-white rounded-2xl  py-[10px] px-[20px] z-40 w-0;
 }
 .modle-body{
  @apply opacity-0 ;
 }

 /* header */


}